@model IEnumerable<Application.Modules.RoomsModule.Queries.RoomGetAllQuery.RoomGetAllResponseDto>
@{
    ViewData["Title"] = "Rooms";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Rooms</h4>
                    <span>List of all managed rooms in buildings.</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a asp-controller="Dashboard" asp-action="Index"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Rooms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Rooms List</h5>
                    <span>All active rooms separated by building block.</span>
                    <div class="card-header-right">
                        <a class="btn btn-sm btn-primary" asp-action="Create">
                            <i class="fa fa-plus"></i> Add New Room
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Display (Building-Room)</th>
                                    <th>Floor</th>
                                    <th>Building Name</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td><strong>@item.DisplayName</strong></td>
                                        <td><span class="badge badge-info">@item.Floor</span></td>
                                        <td>@item.BuildingName</td>
                                        <td class="text-right">
                                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-sm btn-danger"
                                               asp-action="Remove"
                                               asp-route-id="@item.Id"
                                               data-entity-title="@item.DisplayName"
                                               onclick="removeEntity(event)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section addjs {
    <script src="~/admin/js/sweetalert2.min.js"></script>
    <script src="~/admin/js/custom.js"></script>

    <script src="~/libs/sweetalert2/sweetalert2.min.js"></script>
    <script>
        function removeEntity(e) {
            e.preventDefault();
            let element = e.currentTarget;
            $(element).attr('disabled', 'disable');
            const link = $(element).attr('href');
            const Name = $(element).data('entity-title');
            const bigonSwal = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            bigonSwal.fire({
                title: `Diqqət`,
                text: `${Name} - adli melumatin silmek istediyinizden eminsinizmi??`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Bəli",
                cancelButtonText: "Xeyr",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: link,
                        type: 'POST',
                        success: function (response) {
                            alert(`${Name} silindi`);
                            window.location.reload();
                        },
                        error: function (errResponse) {
                            console.log(errResponse);
                        }
                    }).always(function () {
                        $(element).removeAttr('disabled').trigger('blur');
                    });
                } else {
                    $(element).removeAttr('disabled').trigger('blur');
                    $(document).trigger('click');
                }
            });
        }
    </script>
}
